.umc-googleapps-page .umcPageIcon {
    background-repeat: no-repeat;
    height: 150px;
    background-size: contain;
    background-position: center bottom;
    background-image: url(googleapps/logo.svg);
}

.umc .umc-googleapps-page .umcPageHelpText {
    min-height: 50px;
}

@media (max-width: 767px) {
    .umc .umc-googleapps-page .umcPageIcon {
        height: 100px;
    }
    .umc .umc-googleapps-page .umcPageHelpText {
        min-height: 1px
    }
    .umc .umc-googleapps-page .umcPageMain {
        /* overwrite autoHeight property for small devices */
        min-height: 0px !important;
    }
}
